[Desktop Entry]
Version=1.0
Type=Application
Name=Install OlivOS
Comment=
Exec=almazara-installer
Icon=/usr/share/pixmaps/install-olivos.png
Terminal=false
StartupNotify=false
