[Desktop Entry]
Version=1.0
Type=Application
Name=Install CuerdOS
Comment=CuerdOS Installer
Exec=kron-installer
Icon=kron-installer
Terminal=false
StartupNotify=true
StartupWMClass=kron-installer
