[Desktop Entry]
Version=1.0
Type=Application
Name=Install CuerdOS
Comment=
Exec=kron-installer
Icon=/usr/share/pixmaps/install-cuerdos.png
Terminal=false
StartupNotify=false
